

<div
	style="height: 100%; background-size: cover; background-image: url(img/clock_wallpaper.jpg)">


	<div class="row" style="height: 20%; margin-right: 0px;"></div>

	<div class="jumbotron"
		style="color: white; text-align: center; border: 0px; min-height: 50%; background-color: rgba(0, 0, 0, 0.8)">

		<h1>Bienvenue sur Don't Be A Looser</h1>
		<h3 style="margin-bottom: 3em">Rate tous tes évenements préférés
			de ta région pour devenir le maitre de la loose !</h3>

		<a class="btn btn-lg btn-success" ng-click="doLogin()" href=""
			role="button">Connexion Google</a>

	</div>

	<footer class="footer">
		<div class="container">
			<p class="text-muted">
				© 2015 MIAGE NANTES
<!-- 				<a -->
<!-- 					style="margin-left:1em" -->
<!-- 					href="https://bitbucket.org/looserteam/plzdontbealooser/src"> <img -->
<!-- 					width="10px" src="img/bit_bucket.jpg" class="img-circle"> -->
<!-- 				</a> -->


			</p>

		</div>
	</footer>





</div>