
	<nav class="navbar navbar-default navbar-static-top"
		style="margin-bottom: 0px">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" ng-click="changeTab('welcome')" href="#">Don't Be A Looser</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">


				<ul class="nav navbar-nav navbar-right">
					<li><a href="https://bitbucket.org/looserteam/plzdontbealooser/src" target="_blank">Repo BitBucket</a></li>
					<li><a href="#">{{gapi.user.name}}</a></li>

					<li>
						<form class="navbar-form navbar-right" style="margin-right: 0px;">
							<div class="form-group">
								<button ng-click="logout()" type="button"
									class="btn btn-danger btn-sm">
									<span class="glyphicon glyphicon glyphicon-off"
										aria-hidden="true"></span> Déconnexion
								</button>

							</div>
						</form>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

