<!-- <ul class="nav nav-pills nav-stacked" style="width:100%;"> -->
<!-- 	<li ng-class="{active: activeTab == 'events'}"><a -->
<!-- 		ng-click="changeTab('events')" href="#">Evennements</a></li> -->
<!-- 	<li ng-class="{active: activeTab == 'achievements'}"><a -->
<!-- 		ng-click="changeTab('achievements')" href="#">Succès</a></li> -->
<!-- 	<li ng-class="{active: activeTab == 'ranking'}"><a -->
<!-- 		ng-click="changeTab('ranking')" href="#">Classement</a></li> -->
<!-- 	<li ng-class="{active: activeTab == 'welcome'}"><a -->
<!-- 		ng-click="changeTab('welcome')" href="#">Welcome (tests)</a></li> -->
<!-- </ul> -->

