
<div class="jumbotron"
	style="background-image: linear-gradient(to bottom,#09A0CE 0,#88D4EB 100%);background-color: #5bc0de; background-size: 100%;padding-bottom: 30px;padding-top: 30px;">
	<div class="container" style="color: white">

		<div class="row">

			<div class="col-md-1">


				<div
					ng-if="gapi.user.picture != 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">
					<img src="{{gapi.user.picture}}" width="100px" class="img-circle" style="padding-top:10px;">
				</div>
				<div
					ng-if="gapi.user.picture == 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg'">
					<img src="img/default_user.png" width="100px" class="img-circle" style="padding-top:10px;">
				</div>

			</div>

			<div class="col-md-9" style="padding-left: 3em">

				<div ng-if="gapi.user.name == ''">
					<h2>No Name Loser</h2>
				</div>				
				<div ng-if="gapi.user.name != ''">
					<h2>{{gapi.user.name}}</h2>
				</div>
				
				<h5>Email : {{gapi.user.email}}</h5>
				<h5>Score : {{gapi.user.score}}</h5>
				
				

			</div>

			<div class="col-md-2" style="text-align: left">
			
				<h3 style=" margin-top: 0px">
					<button type="button" ng-click="changeTab('welcome')" class="btn btn-sm btn-primary"
						style="width: 100%; text-align: left;">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
						MON ESPACE
					</button>
				</h3>

				<h3 style=" margin-top: 10px">
					<button type="button" ng-click="changeTab('ranking')" class="btn btn-sm btn-primary"
						style="width: 100%; text-align: left;">
						<span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
						CLASSEMENT
					</button>
				</h3>
				<h3 style=" margin-top: 10px">
					<button type="button" ng-click="changeTab('achievements')" class="btn btn-sm btn-primary"
						style="width: 100%; text-align: left;">
						<span class="glyphicon glyphicon-tower" aria-hidden="true"></span>
						ACHIEVEMENTS
					</button>
				</h3>
				
				<h3 style=" margin-top: 10px;margin-bottom: 0px;">
					<button type="button" ng-click="sendEmail('Ceci est une notification de test ! Et ça marche ...')" class="btn btn-sm btn-success"
						style="width: 100%; text-align: left;">
						<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
						NOTIFICATION
					</button>
				</h3>			
				
				

			</div>

		</div>
	</div>
</div>

<div class="container">
 	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>


