
<table class="table table-striped">
	<tr>
		<th>Position</th>
		<th>Nom</th>
		<th>Score</th>
		<th>Email</th>
		<th>Google+</th>
	</tr>
	<tr ng-repeat="u in users | orderBy:'-score'">
		<td>{{$index + 1}}</td>
		<td><img src="{{u.picture}}" width="40px" class="img-circle">
			{{u.name}}</td>
		<td>{{u.score}}</td>
		<td>{{u.email}}</td>
		<td><a href="{{u.link}}">Google+</a></td>
	</tr>
</table>
