<tabset justified="true">
	<tab heading="Catégories">
	
	<br>
	<br>
	

		<div ng-controller="plzdontbealooser-app.controller.categories">
		
		
			<h2>Mes thèmes préférés</h2>
			<div class="jumbotron">
				<span ng-repeat="cat in categoriesPreferences">
					<span class="label label-info" >{{cat.name}}</span> &nbsp;	
				</span>		
			</div>
			
		
			<h2>Explorer les thèmes</h2>
			<div class="row">	
			
			<div class="col-md-3" style="padding-right:0px;padding-left:10px">
				<div class="jumbotron" style="height:550px;padding:20px 20px 0px 20px">
					<div ng-repeat="cat in categoriesD0 | orderBy:'name'">
						
						<button ng-click="addPreference(cat.id)" type="button" ng-show="!isPreference(cat.id)" class="btn btn-success btn-xs">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						</button>	
						
						<button ng-click="removePreference(cat.id)" type="button" ng-show="isPreference(cat.id)" class="btn btn-danger btn-xs">
							<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
						</button>			
									
						<a href="#" ng-click="showCategoriesD1(cat.id)">
							{{cat.name}} <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
						</a>
						
					</div>
				</div>	
			</div>		
				
				
				
			<div class="col-md-3" style="padding-right:0px;padding-left:10px">
				<div class="jumbotron" style="width:101%;height:550px;padding:20px 20px 0px 20px">
					<div ng-repeat="cat in categoriesD1 | orderBy:'name'">
					
						<button ng-click="addPreference(cat.id)" type="button" ng-show="!isPreference(cat.id)" class="btn btn-success btn-xs">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						</button>	
						
						<button ng-click="removePreference(cat.id)" type="button" ng-show="isPreference(cat.id)" class="btn btn-danger btn-xs">
							<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
						</button>		
						
						<a href="#" ng-click="showCategoriesD2(cat.id)">
							{{cat.name}} <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
						</a>
					</div>
				</div>
			</div>
					
			<div class="col-md-3" style="padding-right:0px;padding-left:10px">
				<div class="jumbotron" style="height:550px;padding:20px 20px 0px 20px">
					<div ng-repeat="cat in categoriesD2 | orderBy:'name'">
					
						<button ng-click="addPreference(cat.id)" type="button" ng-show="!isPreference(cat.id)" class="btn btn-success btn-xs">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						</button>	
						
						<button ng-click="removePreference(cat.id)" type="button" ng-show="isPreference(cat.id)" class="btn btn-danger btn-xs">
							<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
						</button>	
							
						<a href="#" ng-click="showCategoriesD3(cat.id)">
							{{cat.name}} <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
						</a>
						
					</div>
				</div>
			</div>
					
			<div class="col-md-3" style="padding-right:0px;padding-left:10px">
				<div class="jumbotron" style="height:550px;padding:20px 20px 0px 20px">
					<div ng-repeat="cat in categoriesD3 | orderBy:'name'">
					
						<button ng-click="addPreference(cat.id)" type="button" ng-show="!isPreference(cat.id)" class="btn btn-success btn-xs">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						</button>	
						
						<button ng-click="removePreference(cat.id)" type="button" ng-show="isPreference(cat.id)" class="btn btn-danger btn-xs">
							<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
						</button>	
						
						<a href="#" ng-click="showCategoriesD4(cat.id)">
							{{cat.name}} <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
						</a>
						
					</div>
				</div>
			</div>
				
			</div>
			
			<br>
				

					

				
			</div>
			

	</tab>
	
	<tab heading="Mes Events">
	
	<br>
	<br>
	
	
		<div ng-controller="plzdontbealooser-app.controller.events">
		
			<div class="jumbotron" ng-repeat="e in myEventsFiltered track by $index | orderBy:'-startDate'" style="padding:0;margin-bottom:1em">
			
			
				<div class="row" style="padding:0em 3em 0">
				
					<div class="col-md-9">					

						<h5>{{e.title}} &nbsp;&nbsp;<small>{{e.startDate}}</small></h5>
						
						<h6><span class="label label-info">{{e.categoryName}}</span></h6>
						
						<h6><small> <a href="http://maps.google.com/maps?q={{e.geoLatitude}},{{e.geoLongitude}}" target="_blank"><img src="img/gmap.png" width="30px" class="img-thumbnail"/></a></small> {{e.cityName}}</h6>

					</div>
					
					<div class="col-md-3" style="padding:1em 4em 1em">
						<button class="btn btn-default" ng-click="participer(e.id)"><img src="img/check.png" width="40px"></button>
					</div>
				
				</div>
			
			</div>		
			
			



		<div style="text-align: center;">


			<pagination items-per-page="5" boundary-links="true" total-items="totalItemsMyEvents"
				ng-model="data.currentPageMyEvents" ng-change="pageChanged()"
				class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;"
				first-text="&laquo;" last-text="&raquo;"></pagination>

		</div>

			
			
		</div>
	
	
	</tab>
	
	
	
	
	<tab heading="Villes">
	
		<div ng-controller="plzdontbealooser-app.controller.villes">
		
			
				<br>
				<br>
				
					<table class="table table-striped">
						<tr>
							<th width="50%">Title</th>
							<th width="25%">ID</th>
							<th width="25%">Insee</th>
					
						</tr>
						<tr ng-repeat="v in villesFiltered | orderBy:'title'">
							<td>{{v.title}}</td>
							<td>{{v.id}}</td>				
							<td>{{v.insee}}</td>
						</tr>
					</table>
					
					<div style="text-align: center;">
					
						<pagination boundary-links="true" total-items="totalItemsVilles"
							ng-model="data.currentPageVilles" ng-change="pageChanged()" class="pagination-sm"
							previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
							last-text="&raquo;"></pagination>
							
					</div>
						
<!-- 			</div>	 -->
		</div>
	
	
	</tab>
	

	
	<tab heading="Events">
	
	<br>
	<br>
	
	
		<div ng-controller="plzdontbealooser-app.controller.eventstests">
		
			<div class="jumbotron" ng-repeat="e in eventsFiltered track by $index | orderBy:'-startDate'" style="padding:0;margin-bottom:1em">
			
			
				<div class="row" style="padding:0em 3em 0">
				
					<div class="col-md-9">					

						<h5>{{e.title}} &nbsp;&nbsp;<small>{{e.startDate}}</small></h5>
						
						<h6><span class="label label-info">{{e.categoryName}}</span></h6>
						
						<h6><small> <a href="http://maps.google.com/maps?q={{e.geoLatitude}},{{e.geoLongitude}}" target="_blank"><img src="img/gmap.png" width="30px" class="img-thumbnail"/></a></small> {{e.cityName}}</h6>

					</div>
					
					<div class="col-md-3" style="padding:1em 4em 1em">
						<button class="btn btn-default" ng-click="participer(e.id)"><img src="img/check.png" width="40px"></button>
					</div>
				
				</div>
			
			</div>		
			
			



		<div style="text-align: center;">


			<pagination items-per-page="5" boundary-links="true" total-items="totalItemsEvents"
				ng-model="data.currentPageEvents" ng-change="pageChanged()"
				class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;"
				first-text="&laquo;" last-text="&raquo;"></pagination>

		</div>

			
			
		</div>
	
	
	</tab>
	
	<tab heading="Historique">
	
		<div ng-controller="plzdontbealooser-app.controller.history">
	
			<div class="jumbotron" ng-repeat="id in gapi.user.history track by $index " style="padding:0;margin-bottom:1em">		
			
				<div class="row" style="padding:0em 3em 0">
				
					<div class="col-md-9">					
	
						<h5>{{id}} &nbsp;&nbsp;<small></small></h5>					
						
					</div>				
	
				
				</div>
			
			</div>
		
		</div>
	
		
	
	
	</tab>
	
	

 </tabset>


<!-- <button ng-click="refreshCategories()" type="button" -->
<!-- 	class="btn btn-info">Refresh Categories</button> -->

<!-- <button ng-click="refreshVilles()" type="button" class="btn btn-info">Refresh -->
<!-- 	City</button> -->

<!-- <button ng-click="refreshEvents()" type="button" class="btn btn-info">Refresh -->
<!-- 	Events</button> -->







